@charset "utf-8";
/* CSS Document */


:root {
  --light-lighten-color: white;
  --light-color: #fdfdfd;
  --light-darken-color: #f3f3f3;
  --theme-color: orange;
  --theme-darken-color: #f18200;
  --border-light-color: #fff;
  --border-dark-color: #d9d9d9;
  --nav-bg-color: #252831;
  --breadcrumb-bg-color: #eee;
  --footer-color: #aaa;
  --footer-bg-color: #444;
  --solid-gray-color: #ccc;
  --solid-black-color: black;
  --main-font-color: #333;
  --dark-bg-color: #333;
  --restaurant-hours-color: #666;
  --text-shadow-color: #666;
  --theme-headers-text-shadow-color: #ddd;
}


body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: var(--main-font-color);
	line-height: 1.5;
}


body {
	background-color: var(--light-color);
	margin: 0;
  height: 100vh;
}


header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}


ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: var(--main-font-color);
}


a {
	color: var(--theme-color);
	text-decoration: none;
}


a:hover,
a:focus,
button:hover,
button:focus,
div[role="button"]:hover,
div[role="button"]:focus {
	color: var(--theme-darken-color);
	text-decoration: none;
  outline-color: var(--theme-color);
}


a img{
	border: none 0 var(--light-lighten-color);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}


article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}


#maincontent {
  background-color: var(--light-darken-color);
  min-height: 100%;
  margin-top: 80px;
}


#footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-color);
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}


.button {
  border: none;
  cursor: pointer;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  background-color: var(--theme-color);
  color: var(--light-lighten-color) !important;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  text-shadow: 1px 1px var(--text-shadow-color);
}


.button:hover,
.button:focus {
  outline: none;
  text-decoration: none;
  background-color: var(--theme-darken-color);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26);
  transform: scale(1.1);
}


.fade-away {
  transform: scale(2) !important;
  opacity: 0 !important;
}


.show {
  display: block !important;
}


/* ====================== Navigation ====================== */


nav {
  background-color: var(--nav-bg-color);
  text-align: center;
}


nav h1 {
  margin: auto;
}


nav h1 a {
  color: var(--light-lighten-color);
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  display: inline-block;
  padding: 26.5px;
}


/* ====================== Map ====================== */


#map-container {
  display: none;
}


#map {
  height: 40vh;
  width: 100%;
  background-color: var(--solid-gray-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}


/* ====================== Restaurant Filtering ====================== */


.filter-options {
  background-color: var(--light-color);
  align-items: center;
  padding-left: 8px;
}


.filter-options h2 {
  text-shadow: 1px 1px var(--solid-black-color);
  color: var(--theme-color);
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 10px 0;
}


.filter-options select {
  background-color: var(--light-lighten-color);
  border: 1px solid var(--border-dark-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  font-family: Arial,sans-serif;
  font-size: 12pt;
  letter-spacing: 0;
  height:  50%;
  margin: 0 2px 10px 2px;
  padding: 5px;
  outline-color: var(--theme-color);
}


#cuisines-select {
  padding-right: 52px;
}


#show-map-button {
  margin: 0 2px 10px 2px;
  min-width: 158px;
}


/* ====================== Restaurant Listing ====================== */


#restaurants-list {
  background-color: var(--light-darken-color);
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}


#restaurants-list li {
  background-color: var(--light-lighten-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  min-width: 270px;
  float: left;
}


#restaurants-list .restaurant-img {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  background-color: var(--solid-gray-color);
  display: block;
  margin: 20px 0;
  max-width: 100%;
  min-width: 100%;
}


#restaurants-list li h3 {
  text-shadow: 0.5px 0.5px var(--solid-black-color);
  color: var(--theme-color);
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}


#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}


#restaurants-list li a {
  background-color: var(--theme-color);
  color: var(--light-lighten-color);
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  text-shadow: 1px 1px var(--text-shadow-color);
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}


#restaurants-list li a:hover,
#restaurants-list li a:focus {
  outline: none;
  background-color: var(--theme-darken-color);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26);
  transform: scale(1.1);
}


/* ====================== Responsive Breakpoints ====================== */


@media screen and (max-width: 300px) {
  #restaurants-list li {
    padding-right: 5px;
    padding-left: 5px;
  }
}


@media screen and (max-width: 364px) {
  #restaurants-list li {
    min-width: 0;
  }
}


@media screen and (min-width: 394px) {
  #restaurants-list li {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 449px) {
  nav h1 a {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}


@media screen and (min-width: 758px) {
  #restaurants-list li {
    width: calc(50% - 90px);
  }
}


@media screen and (min-width: 1122px) {
  #maincontent {
    width: 1122px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  #restaurants-list li {
    width: calc(33.3333333% - 90px);
  }
}
