@charset "utf-8";
/* CSS Document */


:root {
  --light-lighten-color: white;
  --light-color: #fdfdfd;
  --light-darken-color: #f3f3f3;
  --theme-color: orange;
  --theme-darken-color: #f18200;
  --border-light-color: #fff;
  --border-dark-color: #d9d9d9;
  --nav-bg-color: #252831;
  --breadcrumb-bg-color: #eee;
  --footer-color: #aaa;
  --footer-bg-color: #444;
  --solid-gray-color: #ccc;
  --solid-black-color: black;
  --main-font-color: #333;
  --dark-bg-color: #333;
  --restaurant-hours-color: #666;
  --text-shadow-color: #666;
  --theme-headers-text-shadow-color: #ddd;
}


body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: var(--main-font-color);
	line-height: 1.5;
}


body {
	background-color: var(--light-color);
	margin: 0;
  height: 100vh;
}


header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}


ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: var(--main-font-color);
}


a {
	color: var(--theme-color);
	text-decoration: none;
}


a:hover,
a:focus,
button:hover,
button:focus,
div[role="button"]:hover,
div[role="button"]:focus {
	color: var(--theme-darken-color);
	text-decoration: none;
  outline-color: var(--theme-color);
}


a img{
	border: none 0 var(--light-lighten-color);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}


article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}


#maincontent {
  background-color: var(--light-darken-color);
  min-height: 100%;
  margin-top: 131px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}


#footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-color);
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}


.button {
  border: none;
  cursor: pointer;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  background-color: var(--theme-color);
  color: var(--light-lighten-color) !important;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  text-shadow: 1px 1px var(--text-shadow-color);
}


.button:hover,
.button:focus {
  outline: none;
  text-decoration: none;
  background-color: var(--theme-darken-color);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26);
  transform: scale(1.1);
}


.fade-away {
  transform: scale(2) !important;
  opacity: 0 !important;
}


.show {
  display: block !important;
}


/* ====================== Navigation ====================== */


nav {
  background-color: var(--nav-bg-color);
  text-align: center;
}


nav h1 {
  margin: auto;
}


nav h1 a {
  color: var(--light-lighten-color);
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  display: inline-block;
  padding: 26.5px;
}


#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: var(--breadcrumb-bg-color);
    font-size: 17px;
    margin: 0;
    text-align: left;
}


/* Display list items side by side */
#breadcrumb li {
    font-size: 17px;
    display: inline;
}


/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: var(--main-font-color);
    content: "/\00a0";
}


/* Add a color to all links inside the list */
#breadcrumb li a {
    text-shadow: 0.5px 0.5px var(--solid-black-color);
    color: var(--theme-color);
    text-decoration: none;
}


/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: var(--theme-darken-color);
    text-decoration: underline;
}


/* ====================== Map ====================== */


#map-container {
  display: none;
}


#map {
  background-color: var(--solid-gray-color);
  height: 40vh;
  width: 100%;
  border-bottom: 1px solid var(--border-dark-color);
}


/* ====================== Restaurant Details ====================== */


#restaurant-name {
  text-shadow: 1px 1px var(--solid-black-color);
  color: var(--theme-color);
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
  width: 50%;
  min-width: 80px;
  margin: 0;
}


#restaurant-overview {
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
}


#restaurant-details {
  width: 100%;
}


#restaurant-img {
  width: 100%;
  display: block;
}


#restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
}


#show-map-button {
  margin: 0 0 0 20px;
  border-radius: 5px;
  min-width: 158px;
}


#restaurant-cuisine {
  display: inline-block;
  background-color: var(--dark-bg-color);
  color: var(--light-lighten-color);
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}


#restaurant-container,
#reviews-container {
  padding: 30px 40px 30px;
  display: flex;
  flex-wrap: wrap;
}


#restaurant-container {
  border-top: 1px solid var(--border-light-color);
  border-bottom: 1px solid var(--border-dark-color);
}


#restaurant-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 30px;
}


#favorite-toggle-button-container {
  width: 50%;
  min-width: 55px;
}


#favorite-button {
  float: right;
  margin-top: -20px;
  padding: 0;
  background: 0;
  border: none;
  font-size: 30pt;
  cursor: pointer;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}


#favorite-button:hover {
  transform: scale(1.3);
}


.outline-remove {
  outline: 0 !important;
}


#reviews-container {
  padding-bottom: 80px;
  border-top: 1px solid var(--border-light-color);
}


#reviews-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


#reviews-container h3 {
  text-shadow: 1px 1px var(--solid-black-color);
  color: var(--theme-color);
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  width: 50%;
  min-width: 115px;
  margin: 0;
}


#form-toggle-button-container {
  width: 50%;
  min-width: 190px;
  margin-top: -10px;
}


.form-toggle-button-container-min-width {
  min-width: 110px !important;
}


#form-toggle-button {
  float: right;
}


#submit-button {
  float: right;
  margin: -10px 2em 10px 0;
}


#reviews-list #review-form-container {
  display: none;
}


#review-form {
  width: 100%;
  margin-bottom: 20px;
}


#review-form *:focus {
  outline-color: var(--theme-color);
}


#review-form-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--main-font-color);
  width: 160px;
}


#review-form-rating:focus {
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transform: scale(1.3);
}


#review-form-comments {
  resize: none;
  width: 100%;
}


#connection-problem-alert {
  color: red;
}


#close-alert {
  text-decoration: underline;
  color: var(--main-font-color);
  cursor: pointer;
}


#close-alert:hover,
#close-alert:active {
  color: var(--solid-black-color);
}


#reviews-list {
  margin: 0;
  padding: 0;
}


#reviews-list li {
  background-color: var(--light-lighten-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  width: 100%;
  border-radius: 25px;
}


#reviews-list li p {
  margin-left: 2em;
  margin-right: 2em;
}


.review-header {
  overflow: auto;
  background-color: var(--dark-bg-color);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


.review-rating {
  display: inline;
  padding: 5px;
  border-radius: 5px;
  color: var(--light-lighten-color);
  background-color: var(--theme-color);
  text-shadow: 1px 1px var(--text-shadow-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}


.review-name,
.review-date {
  text-shadow: 1px 1px var(--solid-black-color);
}


.review-name {
  color: var(--light-lighten-color);
  float: left;
  font-size: 1.2rem;
  margin: 1.2em 0 1.2em 2em !important;
  width: calc(50% - 2em);
  min-width: 120px;
}


.review-date-container {
  width: calc(50% - 2em);
  min-width: 120px;
  margin: 2em 2em 2em 0 !important;
}


.review-date {
  color: var(--solid-gray-color);
  float: right;
  margin: 0 !important;
}


#restaurant-hours td {
  color: var(--restaurant-hours-color);
}


/* ====================== Responsive Breakpoints ====================== */


@media screen and (max-width: 239px) {
  #restaurant-name,
  #favorite-toggle-button-container {
    width: 100%;
  }
  #favorite-button {
    float: left;
    margin-top: 0;
  }
}


@media screen and (max-width: 396px) {
  .review-name {
    margin-bottom: 0 !important;
    width: 100%;
  }
  .review-date-container {
    margin-top: 0 !important;
    margin-left: 3em !important;
    width: 100%;
  }
  .review-date {
    float: left;
  }
}


@media screen and (max-width: 449px) {
  nav h1 a {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}


@media screen and (max-width: 459px) {
  #reviews-container h3,
  #form-toggle-button-container {
    width: 100%;
  }
  #form-toggle-button {
    float: left;
  }
}


@media screen and (min-width: 554px) {
  #restaurant-hours td,
  #restaurant-address {
    font-size: 1.5em;
  }
}


@media screen and (min-width: 758px) {
  .review-rating, .review-comments {
    font-size: 1.2em;
  }
}


@media screen and (min-width: 1066px) {
  #restaurant-overview,
  #restaurant-details {
    width: 50%;
  }
  #restaurant-address {
    margin: 0 0 10px 20px;
  }
  #restaurant-hours {
    margin: 10px 0 0 20px;
  }
}


@media screen and (min-width: 1122px) {
  #maincontent {
    width: 1122px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
